<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XHScanTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D35538461D1D3A4C0026F436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D355385F1D1D3A4C0026F436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D355386A1D1D3A4C0026F436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
